include partials/head.pug
include partials/nav.pug

div(class='container mt-5')
 h1= "LISTA DE PRODUCTOS"
    div(class='row')
        div(class='col')
       
            table(class='table')
                thead(class='table-dark')
                    th ID
                    th Nombre
                    th Precio
                    th Imagen
            
                    each producto in lista
                        tr
                            td= producto.id 
                            
                            td= producto.title
                            td= producto.price
                            td
                                img(src=producto.thumbnail height='30px')
                            br